.container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 72px;
    align-items: center;
    background: #FFFFFF;
}

.container__logo {
    width: 33%;
}

.list__header--item {
    border: 1px solid var(--blue);
    padding: 1em;
    text-decoration: none;
}

.list__header--link {
    text-decoration: none;
    color: var(--blue);
    padding: 0 2em;
}

