.product__items {
    display: flex;
    padding: 1em 1.5em 0.2em 1.5em;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.product__items--starwars--list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background: #e5e5e5;
}

.product__title--See--all {
    text-decoration: none;
    color: var(--blue);
}

.product__test {
    padding: 1em;
}

.product__XYZ {
    padding-top: 0.5em;
    font-size: 14px;
}

.product__XYZ--price {
    padding: 1em 0;
    font-size: 16px;
    font-weight: bold;
}

.product__XYZ--link {
    padding: 0.5em 0;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.product__items--console--list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.product__image {
    width: 156px;
    height: 174px;
}




@media screen and (min-width: 769px) {
    .product__items--starwars--list {
        flex-wrap: nowrap;
    }

    .product__list {
        padding: 0.2em;
    }

    .product__items {
        padding: 3em 10em 1em 10em;
    }

    .product__items--diversos__6 {
        padding-bottom: 3em;
    }



}